.layout {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to left top, #051937, #091c34, #0f1e31, #15202e, #1b222a, #1b2026, #1c1f22, #1c1d1e, #171818, #121212, #0a0a0a, #000000);
}

.main-header {
  font-size: 3rem;
}

.sub-header {
  font-size: 2.5rem;
}

.para {
  font-size: 1rem;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(41, 48, 59, 0.55);
  overflow: scroll;
}

.close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.close:hover {
  color: #f2f2f2;
}
.close:active {
  font-size: 1.45rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.toggleModal {
  margin-top: 20px;
}
.toggleModal a {
  font-size: 1.1rem;
  font-style: italic;
  text-decoration: none;
  color: #051937;
}
.toggleModal a strong {
  text-decoration: underline;
}
.toggleModal a:hover {
  color: #1259c3;
}

.noScroll {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 650px;
  position: relative;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}
.header__nav {
  background: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-logo {
  width: 100px;
}
.header__nav-logo img {
  width: 70px;
  height: 70px;
}
.header__nav-link {
  width: calc(100% - 100px);
  padding: 20px 5px;
}
.header__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.header__nav ul li {
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  opacity: 0.7;
  width: 80px;
}
.header__nav ul li:hover {
  opacity: 0.5;
}
.header__text {
  color: white;
  position: absolute;
  top: 40%;
}
.header__text .main-header strong {
  color: red;
  text-decoration: overline;
}
.header__text .para {
  width: 500px;
}

.about {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  color: white;
}
.about hr {
  border: 3px solid red;
  width: 50px;
  margin: auto;
}
.about p {
  color: black;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
.about__text {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 25px;
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}

.footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 10px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.footer a {
  display: block;
  margin-bottom: 5px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}
.footer a img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.footer small {
  color: grey;
}
.footer small strong {
  color: red !important;
  padding-right: 5px;
  padding-left: 5px;
}

.login-container {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
.login-container-header {
  color: white;
  background: red;
  padding: 10px 5px;
  text-align: center;
}
.login-container-header span {
  display: block;
}
.login-container-header h3 {
  margin-top: 15px;
}
.login-container form {
  background: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.login-container form input:not([type=submit]) {
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
  width: 90%;
  padding: 5px 9px;
  margin-bottom: 30px;
}
.login-container form input:not([type=submit]):focus {
  outline: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
}
.login-container form input:not([type=submit]):hover::-webkit-input-placeholder {
  padding-left: 2px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.login-container form input[type=submit] {
  width: 100%;
  color: white;
  padding: 15px 5px;
  font-size: 1.4rem;
  background: #051937;
}
.login-container form input[type=submit]:hover {
  background: #07244e;
}

.signup-container {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
.signup-container-header {
  color: white;
  background: red;
  padding: 10px 5px;
  text-align: center;
}
.signup-container-header span {
  display: block;
}
.signup-container-header h3 {
  margin-top: 15px;
}
.signup-container form {
  background: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.signup-container form input:not([type=submit]) {
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
  width: 90%;
  padding: 5px 9px;
  margin-bottom: 30px;
}
.signup-container form input:not([type=submit]):focus {
  outline: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
}
.signup-container form input:not([type=submit]):hover::-webkit-input-placeholder {
  padding-left: 2px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.signup-container form input[type=submit] {
  width: 100%;
  color: white;
  padding: 15px 5px;
  font-size: 1.4rem;
  background: #051937;
}
.signup-container form input[type=submit]:active {
  outline: none;
}
.signup-container form input[type=submit]:hover {
  background: #07244e;
}
.signup-container .security h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.profile {
  position: relative;
}
.profile__bg {
  position: relative;
  background: #051937;
  height: 300px;
}
.profile__bg h1 {
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}
.profile__details {
  position: relative;
  top: -20px;
  padding: 0px 60px;
  padding-bottom: 30px;
  width: 99%;
  margin: auto;
}
.profile__details-pic {
  text-align: center;
}
.profile__details-pic img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 10px solid white;
}
.profile__user {
  padding: 10px;
}
.profile__user .form-group {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 18px;
}
.profile__user .label {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 150px;
}
.profile__user .formval {
  width: calc(100% - 150px);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: 1px solid white;
}
.profile__user button {
  margin-top: 10px;
  width: 100%;
  color: #051937;
  padding: 15px 5px;
  font-size: 1.4rem;
  background: white;
}
.profile__user button:hover {
  color: white;
  background: #07244e;
}

.loader {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.loader .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: scale(2);
}

.loader .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.loader .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@media screen and (max-width: 1050px) {
  .about {
    padding-right: 10px;
    padding-left: 10px;
  }
  .about__text {
    width: 90% !important;
    transform: skew(4deg);
    -webkit-transform: skew(4deg);
    -moz-transform: skew(4deg);
    -ms-transform: skew(4deg);
    -o-transform: skew(4deg);
  }
  .about p {
    transform: skew(-4deg);
    -webkit-transform: skew(-4deg);
    -moz-transform: skew(-4deg);
    -ms-transform: skew(-4deg);
    -o-transform: skew(-4deg);
  }
}
@media screen and (max-width: 600px) {
  .main-header {
    font-size: 2.5rem;
  }

  .sub-header {
    font-size: 2rem;
  }

  .header .para {
    width: 90% !important;
  }

  .profile__details {
    padding: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .login-container,
.signup-container {
    width: 95% !important;
  }

  .sub-header {
    font-size: 1.6rem;
  }

  .profile__details img {
    width: 150px;
    height: 150px;
  }
  .profile__details .label {
    width: 100%;
    margin-bottom: 10px;
  }
  .profile__details .form-group {
    flex-direction: column;
  }
  .profile__details .formval {
    width: 100%;
  }
}
.error-message {
  color: red;
  margin-top: -25px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
  margin-left: 25px;
}

/*# sourceMappingURL=style.css.map */
