.about {
 position: relative;
 z-index: 1;
 width: 100%;
 text-align: center;
 padding-top: 60px;
 color: $white;

 hr {
  border: 3px solid $red;
  width: 50px;
  margin: auto;
 }

 p {
  color: black;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

 &__text {
  background: transparentize(white, 0.1);
  padding: 15px 25px;
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
}