.layout {
 position: relative;
 width: 100%;
 background-image: linear-gradient(to left top, #051937, #091c34, #0f1e31, #15202e, #1b222a, #1b2026, #1c1f22, #1c1d1e, #171818, #121212, #0a0a0a, #000000);
}